@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

$green: #4ab45b;
$red: #b12323;
$O-S: "Open Sans", sans-serif;
$Roboto: "Roboto", sans-serif;

.wrapper {
    width: 96%;
    max-width: 1200px;
    margin: auto;
}

.title {
    margin: 80px 0px 57px;
    font-family: $O-S;
    font-weight: bold;
    font-size: 45px;
    line-height: 65px;
    position: relative;
}
.title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 4.5em;
    background: $green;
}

.nav {
    background-color: #ffffff;
    font-family: $O-S;
    padding: 15px 0px;
    border-bottom: 1px solid #e4e4e5;
    .wrapper__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav__items {
            display: flex;
            .nav__item {
                margin-right: 53px;
                a {
                    color: black;
                    text-transform: uppercase;
                    text-decoration: none;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
            .nav__item:nth-child(1) {
                margin-left: 15px;
            }
            .nav__item:nth-last-child(1) {
                margin-right: 15px;
            }
        }
        .nav__social {
            display: flex;
            justify-content: center;
            align-items: center;
            .social__icon {
                margin-right: 22px;
                width: 28px;
                height: 28px;
            }
            .social__icon:nth-last-child(1) {
                margin-right: 30px;
                width: 50px;
                height: 28px;
            }
            .social__icon:hover {
                path,
                clipPath {
                    fill: #000;
                }
                circle {
                    stroke: #000;
                }
            }
        }
    }
}

.wrapper_header-content {
    display: flex;
    align-items: center;
    font-family: $O-S;
    margin-top: 20px;
    .header__content_img {
    }
    .header__content_form {
        max-width: 340px;
        margin: auto;
        .form__title {
            font-weight: 800;
            font-size: 27px;
            line-height: 37px;
            text-align: center;
            margin-bottom: 18px;
        }
        .form__subtitle {
            font-size: 13px;
            line-height: 16px;
            text-align: center;
            margin-bottom: 18px;
        }
        .form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            input {
                margin-bottom: 33px;
                padding: 12px;
                border: 1px solid #000000;
                box-sizing: border-box;
                border-radius: 5px;
                font-size: 14px;
            }
            button {
                background: #b12323;
                border-radius: 15px;
                border: none;
                padding: 15px;
                font-family: $O-S;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 21px;
                color: #ffffff;
            }
            button:hover {
                cursor: pointer;
            }
        }
    }
}

main {
    .slider__reviews {
        display: flex;
        .review {
            margin: 0px 20px;
            display: flex;
            align-items: center;
            &__info {
                display: flex;
                flex-direction: column;
                align-items: center;
                .review__name {
                    font-family: $Roboto;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 18px;
                    line-height: 26px;
                    margin-top: 15px;
                }
            }
            &__text {
                margin-left: 25px;
                font-family: $O-S;
                font-size: 14px;
            }
        }
    }
    .wrapper__works{
       .reviews__title::after{
           width: 7.85em;
       } 
       .slider_first{
           position: relative;
       
            .arr{
                position: absolute;
                bottom: 80px;
                left: 40%;
                z-index: 2;
            }
            .arr2{
                    left: 37%;
            }
        }
        .slider_second{
            position: relative;
        
             .arr{
                 position: absolute;
                 bottom: 80px;
                 left: 60%;
                 z-index: 2;
             }
             .arr2{
                     left: 57%;
             }
         }
       .works_row{
           display: flex;
           margin-bottom: 80px;
           .works_text{
                font-family: $O-S;
                font-size: 18px;
                line-height: 25px;
                max-width: 490px;
                margin-right: 50px;
           }
           .works_img{
               display: flex;
               img{
                margin: 0px 20px;
               }
           }
       }
       .second{
            .works_text{
                margin-left: 50px;    
            }
            .works_img{
                order: -1;                
            }
       }

    }
    svg:hover{
        path{
            fill: $green;
        }
    }

    .question{
        background-color: rgb(241, 241, 241);
        .wrapper__question{
            padding-top: 10px;
            .question__title::after{
                width: 9.6em;
            }
            .question {
                width: 83%;
                margin: auto;
                background: #FFFFFF;
                box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
                border-radius: 4px;
    
                &__item {
                    border-bottom: 1px solid #E5E5E5;
    
                    &__title {
                        display: flex;
                        align-items: center;
    
                        &__number {
                            font-weight: 900;
                            font-size: 42px;
                            line-height: 49px;
                            text-transform: uppercase;
                            color: #DEDDDD;
                            margin: 13px 30px 13px 53px;
                        }
    
                        &__title {
                            font-weight: bold;
                            font-size: 20px;
                            line-height: 23px;
                        }
                    }
    
                    .open {
                        transition: 0.3s;
                        color: #8C0014;
                    }
    
                    &__answ {
                        font-size: 16px;
                        margin: 0 56px 33px 129px;
                        display: none;
                    }
                }
            }
    
            .question__button {
                text-align: center;
    
                button {
                    font-size: 13px;
                    text-align: center;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    background: #8C0014;
                    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
                    border-radius: 2px;
                    border: none;
                    font-weight: bold;
                    padding: 13px 86px;
                    margin: 45px 0 57px;
                }
            }
        }
    }
}
