@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

.wrapper {
  width: 96%;
  max-width: 1200px;
  margin: auto;
}

.title {
  margin: 80px 0px 57px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 45px;
  line-height: 65px;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 4.5em;
  background: #4ab45b;
}

.nav {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  padding: 15px 0px;
  border-bottom: 1px solid #e4e4e5;
}

.nav .wrapper__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .wrapper__nav .nav__items {
  display: flex;
}

.nav .wrapper__nav .nav__items .nav__item {
  margin-right: 53px;
}

.nav .wrapper__nav .nav__items .nav__item a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}

.nav .wrapper__nav .nav__items .nav__item a:hover {
  text-decoration: underline;
}

.nav .wrapper__nav .nav__items .nav__item:nth-child(1) {
  margin-left: 15px;
}

.nav .wrapper__nav .nav__items .nav__item:nth-last-child(1) {
  margin-right: 15px;
}

.nav .wrapper__nav .nav__social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav .wrapper__nav .nav__social .social__icon {
  margin-right: 22px;
  width: 28px;
  height: 28px;
}

.nav .wrapper__nav .nav__social .social__icon:nth-last-child(1) {
  margin-right: 30px;
  width: 50px;
  height: 28px;
}

.nav .wrapper__nav .nav__social .social__icon:hover path,
.nav .wrapper__nav .nav__social .social__icon:hover clipPath {
  fill: #000;
}

.nav .wrapper__nav .nav__social .social__icon:hover circle {
  stroke: #000;
}

.wrapper_header-content {
  display: flex;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  margin-top: 20px;
}

.wrapper_header-content .header__content_form {
  max-width: 340px;
  margin: auto;
}

.wrapper_header-content .header__content_form .form__title {
  font-weight: 800;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  margin-bottom: 18px;
}

.wrapper_header-content .header__content_form .form__subtitle {
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 18px;
}

.wrapper_header-content .header__content_form .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper_header-content .header__content_form .form input {
  margin-bottom: 33px;
  padding: 12px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 14px;
}

.wrapper_header-content .header__content_form .form button {
  background: #b12323;
  border-radius: 15px;
  border: none;
  padding: 15px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.wrapper_header-content .header__content_form .form button:hover {
  cursor: pointer;
}

main .slider__reviews {
  display: flex;
}

main .slider__reviews .review {
  margin: 0px 20px;
  display: flex;
  align-items: center;
}

main .slider__reviews .review__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .slider__reviews .review__info .review__name {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  margin-top: 15px;
}

main .slider__reviews .review__text {
  margin-left: 25px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
