@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

.wrapper {
  width: 96%;
  max-width: 1200px;
  margin: auto;
}

.title {
  margin: 80px 0px 57px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 45px;
  line-height: 65px;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 4.5em;
  background: #4ab45b;
}

.nav {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  padding: 15px 0px;
  border-bottom: 1px solid #e4e4e5;
}
.nav .wrapper__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .wrapper__nav .nav__items {
  display: flex;
}
.nav .wrapper__nav .nav__items .nav__item {
  margin-right: 53px;
}
.nav .wrapper__nav .nav__items .nav__item a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}
.nav .wrapper__nav .nav__items .nav__item a:hover {
  text-decoration: underline;
}
.nav .wrapper__nav .nav__items .nav__item:nth-child(1) {
  margin-left: 15px;
}
.nav .wrapper__nav .nav__items .nav__item:nth-last-child(1) {
  margin-right: 15px;
}
.nav .wrapper__nav .nav__social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .wrapper__nav .nav__social .social__icon {
  margin-right: 22px;
  width: 28px;
  height: 28px;
}
.nav .wrapper__nav .nav__social .social__icon:nth-last-child(1) {
  margin-right: 30px;
  width: 50px;
  height: 28px;
}
.nav .wrapper__nav .nav__social .social__icon:hover path,
.nav .wrapper__nav .nav__social .social__icon:hover clipPath {
  fill: #000;
}
.nav .wrapper__nav .nav__social .social__icon:hover circle {
  stroke: #000;
}

.wrapper_header-content {
  display: flex;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  margin-top: 20px;
}
.wrapper_header-content .header__content_form {
  max-width: 340px;
  margin: auto;
}
.wrapper_header-content .header__content_form .form__title {
  font-weight: 800;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  margin-bottom: 18px;
}
.wrapper_header-content .header__content_form .form__subtitle {
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 18px;
}
.wrapper_header-content .header__content_form .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper_header-content .header__content_form .form input {
  margin-bottom: 33px;
  padding: 12px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 14px;
}
.wrapper_header-content .header__content_form .form button {
  background: #b12323;
  border-radius: 15px;
  border: none;
  padding: 15px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.wrapper_header-content .header__content_form .form button:hover {
  cursor: pointer;
}

main .slider__reviews {
  display: flex;
}
main .slider__reviews .review {
  margin: 0px 20px;
  display: flex;
  align-items: center;
}
main .slider__reviews .review__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .slider__reviews .review__info .review__name {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  margin-top: 15px;
}
main .slider__reviews .review__text {
  margin-left: 25px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
main .wrapper__works .reviews__title::after {
  width: 7.85em;
}
main .wrapper__works .slider_first {
  position: relative;
}
main .wrapper__works .slider_first .arr {
  position: absolute;
  bottom: 80px;
  left: 40%;
  z-index: 2;
}
main .wrapper__works .slider_first .arr2 {
  left: 37%;
}
main .wrapper__works .slider_second {
  position: relative;
}
main .wrapper__works .slider_second .arr {
  position: absolute;
  bottom: 80px;
  left: 60%;
  z-index: 2;
}
main .wrapper__works .slider_second .arr2 {
  left: 57%;
}
main .wrapper__works .works_row {
  display: flex;
  margin-bottom: 80px;
}
main .wrapper__works .works_row .works_text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 25px;
  max-width: 490px;
  margin-right: 50px;
}
main .wrapper__works .works_row .works_img {
  display: flex;
}
main .wrapper__works .works_row .works_img img {
  margin: 0px 20px;
}
main .wrapper__works .second .works_text {
  margin-left: 50px;
}
main .wrapper__works .second .works_img {
  order: -1;
}
main svg:hover path {
  fill: #4ab45b;
}
main .question {
  background-color: #f1f1f1;
}
main .question .wrapper__question {
  padding-top: 10px;
}
main .question .wrapper__question .question__title::after {
  width: 9.6em;
}
main .question .wrapper__question .question {
  width: 83%;
  margin: auto;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
main .question .wrapper__question .question__item {
  border-bottom: 1px solid #E5E5E5;
}
main .question .wrapper__question .question__item__title {
  display: flex;
  align-items: center;
}
main .question .wrapper__question .question__item__title__number {
  font-weight: 900;
  font-size: 42px;
  line-height: 49px;
  text-transform: uppercase;
  color: #DEDDDD;
  margin: 13px 30px 13px 53px;
}
main .question .wrapper__question .question__item__title__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}
main .question .wrapper__question .question__item .open {
  transition: 0.3s;
  color: #8C0014;
}
main .question .wrapper__question .question__item__answ {
  font-size: 16px;
  margin: 0 56px 33px 129px;
  display: none;
}
main .question .wrapper__question .question__button {
  text-align: center;
}
main .question .wrapper__question .question__button button {
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #8C0014;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  border: none;
  font-weight: bold;
  padding: 13px 86px;
  margin: 45px 0 57px;
}

/*# sourceMappingURL=style.css.map */
