@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,800&display=swap&subset=cyrillic");
body {
  margin: 0;
  padding: 0;
}

section {
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

header {
  background: url(../img/mainbg1.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}

.head .head_info {
  display: flex;
}

.head nav {
  margin-left: 65px;
  display: flex;
  margin-top: 32px;
}

.head nav .nav__social a {
  margin-right: 24px;
  text-decoration: none;
}

.head nav .nav_tel {
  margin-left: 10px;
}

.head nav .nav_tel a {
  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
  color: white;
}

.head .title {
  margin-top: 80px;
  display: block;
  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
}

.head .title .main_title {
  font-size: 47px;
  margin: 0;
}

.head .title .subtitle {
  font-size: 25px;
  line-height: 34px;
  margin: 0;
  padding-top: 25px;
}

.head .form {
  margin-top: 178px;
  width: 658px;
  height: 429px;
  display: flex;
  flex-direction: column;
  background: #f7f7f7;
  border-radius: 45px 46px 0px 0px;
  text-align: center;
}

.head .form .title-form {
  padding-top: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  color: #1a62a6;
  margin: 0;
  line-height: 49px;
}

.head .form .sub-form {
  color: #787878;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.head .form input {
  background: #efefef;
  border: 2px solid #1a62a6;
  box-sizing: border-box;
  border-radius: 23px;
  width: 480px;
  height: 67px;
  text-align: center;
  margin-top: 13px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.head .form button {
  background: #ffb800;
  border: none;
  border-radius: 14px;
  width: 291px;
  height: 59px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  margin-top: 20px;
}

main .sec {
  display: none;
}

main .sec .analog {
  height: 750px;
  background: url(../img/chinabg.png) no-repeat;
  background-position: 50% 50%;
  margin-bottom: 50px;
}

main .sec .analog .analog__name {
  margin-top: 40px;
}

main .sec .analog span {
  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

main .sec .analog .red {
  color: red;
  margin-right: 555px;
  margin-left: 40px;
}

main .sec .analog .green {
  color: green;
}

main .sec .analog p {
  position: absolute;
  left: 47%;
  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

main .sec .analog .fur {
  margin-top: 76px;
  margin-right: 25px;
}

main .sec .analog .lining {
  margin-top: 287px;
  margin-right: -15px;
}

main .sec .analog .size {
  margin-top: 494px;
}

main .sec .analog a {
  margin-left: 440px;
}

main .sec .analog a button {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  margin-top: 670px;
  background: #FFB800;
  border-radius: 14px;
  border: none;
  width: 291px;
  height: 59px;
}

main .range_wrapper {
  background: url(../img/RangeBG.png) no-repeat;
  background-size: cover;
}

main .range_wrapper .range .range__title {
  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  color: #1a62a6;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 25px;
}

main .range_wrapper .range .category .category__title {
  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  color: #515151;
  margin-top: 0;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
}

main .range_wrapper .range .category .category__title::after {
  content: "";
  display: block;
  margin: -13px auto 0;
  width: 538px;
  height: 7px;
  background-color: #ffd200;
}

main .range_wrapper .range .category .category__title2::after {
  width: 430px;
}

main .range_wrapper .range .category .category__title3::after {
  width: 750px;
}

main .range_wrapper .range .category .products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

main .range_wrapper .range .category .products .product {
  display: inline-block;
  text-align: center;
  width: 347px;
  height: 525px;
  background: #eeeeee;
  border-radius: 25px 0px;
  overflow: hidden;
  margin-bottom: 40px;
}

main .range_wrapper .range .category .products .product .product__wrapper {
  width: 347px;
  height: 253px;
}

main .range_wrapper .range .category .products .product .product__title {
  width: 80%;
  margin: auto;
  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #353535;
}

main .range_wrapper .range .category .products .product .product__title p {
  margin-top: 10px;
  margin-bottom: 26px;
}

main .range_wrapper .range .category .products .product .old__price {
  color: #949494;
  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  margin-top: 26px;
  margin-bottom: 0px;
}

main .range_wrapper .range .category .products .product .old__price:after {
  content: "";
  display: block;
  margin: -18px auto 0;
  width: 82px;
  height: 4px;
  background-color: #949494;
}

main .range_wrapper .range .category .products .product .new__price {
  color: #1a62a6;
  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  margin-top: 15px;
  margin-bottom: 0;
}

main .range_wrapper .range .category .products .product .btn {
  margin-top: 13px;
  background: #05b3da;
  border-radius: 9px;
  width: 191px;
  height: 45px;
  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  color: white;
  border: none;
}

main .buy_wrapper {
  background: url(../img/buyBG.png);
  height: 682px;
}

main .buy_wrapper .buy__title {
  text-align: center;
  color: #1a62a6;
  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  padding-top: 31px;
}

main .buy_wrapper .buy {
  background: #ffffff;
  box-shadow: 6px 4px 17px rgba(0, 0, 0, 0.32);
  border-radius: 20px;
  height: 483px;
  margin-top: 47px;
  text-align: center;
}

main .buy_wrapper .buy .steps {
  margin-right: 65px;
  margin-left: 65px;
  padding-top: 49px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

main .buy_wrapper .buy .steps .step3 p {
  width: 227px;
}

main .buy_wrapper .buy .img {
  height: 255px;
}

main .buy_wrapper .buy .img2 {
  padding-top: 68px;
  height: 187px;
}

main .buy_wrapper .buy .btn {
  background: #04b3da;
  border-radius: 15px;
  width: 221px;
  height: 48px;
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: white;
}

main .buy_wrapper .buy p {
  font-family: Tahoma;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

main .order__wrapper {
  background: url(../img/orderBG.png) no-repeat;
  padding-bottom: 112px;
  padding-top: 122px;
  position: relative;
}

main .order__wrapper .tree {
  position: absolute;
  left: 100px;
  top: 75px;
}

main .order__wrapper .order {
  width: 1048px;
  height: 480px;
  background: #FAFAFA;
  text-align: center;
}

main .order__wrapper .order .order__title {
  padding-top: 25px;
  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #1B1B1B;
}

main .order__wrapper .order .order__title .price {
  color: #19BF47;
}

main .order__wrapper .order input {
  background: #EFEFEF;
  border: 2px solid #1A62A6;
  box-sizing: border-box;
  border-radius: 23px;
  width: 480px;
  height: 67px;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin-top: 25px;
}

main .order__wrapper .order .btn {
  background: #FFB800;
  border-radius: 14px;
  width: 291px;
  height: 59px;
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  margin-top: 20px;
}

main .reviews__wrapper {
  background: #1A62A6;
  font-family: Tahoma;
  height: 470px;
}

main .reviews__wrapper .reviews__title {
  text-align: center;
  color: #FFFFFF;
  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  padding-top: 40px;
  padding-bottom: 55px;
}

main .reviews__wrapper .slider {
  margin: auto;
  width: 1000px;
  padding-right: 75px;
  padding-left: 75px;
}

main .reviews__wrapper .slider .review {
  background: #F5F5F5;
  border-radius: 30px;
  margin-right: 60px;
  margin-left: 60px;
  margin-bottom: 20px;
}

main .reviews__wrapper .slider .review .user {
  display: flex;
}

main .reviews__wrapper .slider .review .user .user__info {
  padding-left: 45px;
  padding-top: 31px;
  padding-right: 30px;
  padding-bottom: 15px;
  text-align: center;
  font-style: normal;
  text-align: center;
  color: #505050;
}

main .reviews__wrapper .slider .review .user .user__info .name {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

main .reviews__wrapper .slider .review .user .user__info .town {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

main .reviews__wrapper .slider .review .user .user__info .social {
  display: inline-table;
}

main .reviews__wrapper .slider .review .user .user__review {
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: normal;
  font-size: 18px;
}

footer {
  background: #D8D8D8;
}

footer .footer__info {
  font-family: Tahoma;
  font-style: normal;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 25px;
  text-align: center;
}

footer .footer__info .developer {
  font-size: 14px;
  padding-top: 30px;
}

footer .footer__info .developer a {
  text-decoration: none;
  color: #6B6B6B;
}

footer .footer__info .ip__info {
  font-size: 18px;
  color: black;
}

footer .footer__info .footer__link {
  text-align: right;
}

footer .footer__info .footer__link .tel {
  font-weight: bold;
}

footer .footer__info .footer__link .tel a {
  color: black;
  font-size: 24px;
  text-decoration: none;
}

footer .footer__info .footer__link .nav__social {
  margin-top: 15px;
}

footer .footer__info .footer__link .nav__social a {
  margin-left: 24px;
  text-decoration: none;
}

@media screen and (max-width: 450px) {
  section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  header {
    background: url(../img/mainbg1.jpg) no-repeat;
    background-position: 17% 0;
  }
  .logo {
    display: none;
  }
  .head nav {
    margin-left: 10px;
    width: 100%;
    justify-content: space-around;
  }
  .head nav .nav_tel a {
    font-size: 17px;
  }
  .head nav .nav__social a {
    margin-right: 8px;
  }
  .head .title {
    text-align: center;
    margin-top: 50px;
  }
  .head .title .main_title {
    font-size: 37px;
  }
  .head .title .subtitle {
    font-size: 21px;
  }
  .head .form {
    width: 100%;
    height: 100%;
    border-radius: 28px 28px 0px 0px;
    margin-top: 30px;
    justify-content: space-around;
  }
  .head .form input {
    width: 85%;
    height: 55px;
    border-radius: 18px;
    font-size: 14px;
  }
  .head .form .title-form {
    font-size: 30px;
  }
  .head .form .sub-form {
    font-size: 13px;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
  }
  .head .form button {
    width: 70%;
    height: 45px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  main .range_wrapper {
    background: none;
  }
  main .range_wrapper .range {
    width: 90%;
  }
  main .range_wrapper .range .range__title {
    font-size: 30px;
  }
  main .range_wrapper .range .category .category__title {
    font-size: 22px;
  }
  main .range_wrapper .range .category .category__title::after {
    display: none;
  }
  main .range_wrapper .range .category .products {
    justify-content: center;
  }
  main .range_wrapper .range .category .products .product {
    width: 90%;
    height: auto;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.21);
  }
  main .range_wrapper .range .category .products .product .product__title {
    font-size: 22px;
  }
  main .range_wrapper .range .category .products .product .product__title p {
    margin-bottom: 0px;
  }
  main .range_wrapper .range .category .products .product .old__price {
    margin-top: 10px;
  }
  main .range_wrapper .range .category .products .product .btn {
    margin-bottom: 15px;
  }
  main .buy_wrapper {
    height: auto;
    background-position: 22% 3%;
    padding-bottom: 30px;
  }
  main .buy_wrapper .buy__title {
    margin-right: 3%;
    margin-left: 3%;
  }
  main .buy_wrapper .buy {
    display: flex;
    justify-content: center;
    height: auto;
    width: 88%;
    margin-top: 25px;
  }
  main .buy_wrapper .buy p {
    font-size: 17px;
  }
  main .buy_wrapper .buy .img2 {
    padding-top: 30px;
  }
  main .buy_wrapper .buy .img2 img {
    width: 279px;
  }
  main .buy_wrapper .buy .step1 p a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  main .buy_wrapper .buy .step2 p {
    margin-top: 8px;
  }
  main .buy_wrapper .buy .step3 {
    margin-bottom: 7px;
    margin: auto;
  }
  main .buy_wrapper .buy .step3 p {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  main .order__wrapper {
    background: #FAFAFA;
    padding-top: 20px;
    padding-bottom: 38px;
  }
  main .order__wrapper .tree {
    display: none;
  }
  main .order__wrapper .order {
    width: 90%;
    height: auto;
  }
  main .order__wrapper .order .order__title {
    font-size: 28px;
  }
  main .order__wrapper .order input {
    width: 291px;
    height: 55px;
    font-size: 16px;
    border-radius: 16px;
    margin-top: 15px;
  }
  main .reviews__wrapper {
    height: auto;
  }
  main .reviews__wrapper .reviews__title {
    font-size: 30px;
    padding-bottom: 15px;
  }
  main .reviews__wrapper .slider {
    padding-right: 0;
    padding-left: 0;
    width: 93%;
  }
  main .reviews__wrapper .slider .review {
    margin: 15px;
    margin-bottom: 55px;
    width: 88%;
  }
  main .reviews__wrapper .slider .review .user {
    display: block;
    text-align: center;
  }
  main .reviews__wrapper .slider .review .user .user__info {
    padding-left: 30px;
  }
  main .reviews__wrapper .slider .review .user .user__info img {
    margin: auto;
  }
  main .reviews__wrapper .slider .review .user .user__review {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    font-size: 17px;
  }
  main .reviews__wrapper .slider .slick-dots {
    bottom: 9px;
    width: 100%;
  }
  footer .footer__info {
    flex-direction: column-reverse;
    margin: auto;
  }
  footer .footer__info .footer__link {
    text-align: center;
    margin-bottom: 15px;
  }
  footer .footer__info .ip__info {
    font-size: 15px;
  }
  footer .footer__info .developer {
    padding-top: 15px;
  }
}

@media screen and (max-width: 1100px) and (min-width: 451px) {
  section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  header {
    background-position: 17% 0;
  }
  .logo {
    display: none;
  }
  .head nav {
    margin-left: 10px;
    width: 100%;
    justify-content: space-around;
  }
  .head nav .nav_tel a {
    font-size: 17px;
  }
  .head nav .nav__social a {
    margin-right: 8px;
  }
  .head .title {
    text-align: center;
    padding-top: 50px;
    width: 80%;
    margin: auto;
  }
  .head .title .main_title {
    font-size: 42px;
  }
  .head .title .subtitle {
    font-size: 21px;
    margin-bottom: 50px;
  }
  .head .form {
    width: 480px;
    height: 100%;
    border-radius: 28px 28px 0px 0px;
    margin-top: 30px;
    margin: auto;
    justify-content: space-around;
  }
  .head .form input {
    width: 85%;
    height: 55px;
    border-radius: 18px;
    font-size: 14px;
  }
  .head .form .title-form {
    font-size: 30px;
  }
  .head .form .sub-form {
    font-size: 13px;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
  }
  .head .form button {
    width: 70%;
    height: 45px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  main .range_wrapper .range .category .category__title3::after {
    display: none;
  }
  main .range_wrapper .range .category .products .product {
    margin: auto;
    margin-bottom: 45px;
  }
  main .buy_wrapper {
    height: auto;
    background-position: 22% 3%;
    padding-bottom: 30px;
  }
  main .buy_wrapper .buy__title {
    margin-right: 3%;
    margin-left: 3%;
  }
  main .buy_wrapper .buy {
    display: flex;
    justify-content: center;
    height: auto;
    width: 440px;
    margin-top: 25px;
  }
  main .buy_wrapper .buy .steps {
    justify-content: center;
  }
  main .buy_wrapper .buy p {
    font-size: 19px;
  }
  main .buy_wrapper .buy .img2 {
    padding-top: 30px;
  }
  main .buy_wrapper .buy .img2 img {
    width: 279px;
  }
  main .buy_wrapper .buy .step2 p {
    margin-top: 8px;
  }
  main .buy_wrapper .buy .step3 {
    margin-bottom: 7px;
    margin: auto;
  }
  main .buy_wrapper .buy .step3 p {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  main .order__wrapper {
    background: #FAFAFA;
    padding-top: 20px;
    padding-bottom: 38px;
  }
  main .order__wrapper .tree {
    display: none;
  }
  main .order__wrapper .order {
    width: 90%;
    height: auto;
  }
  main .order__wrapper .order .order__title {
    font-size: 34px;
  }
  main .order__wrapper .order input {
    width: 291px;
    height: 55px;
    font-size: 16px;
    border-radius: 16px;
    margin-top: 15px;
  }
  main .reviews__wrapper {
    height: auto;
  }
  main .reviews__wrapper .reviews__title {
    font-size: 30px;
    padding-bottom: 15px;
  }
  main .reviews__wrapper .slider {
    padding-right: 0;
    padding-left: 0;
    width: 88%;
  }
  main .reviews__wrapper .slider .review {
    margin: 15px;
    margin-bottom: 55px;
    width: 68%;
  }
  main .reviews__wrapper .slider .review .user {
    display: block;
    text-align: center;
  }
  main .reviews__wrapper .slider .review .user .user__info {
    padding-left: 30px;
  }
  main .reviews__wrapper .slider .review .user .user__info img {
    margin: auto;
  }
  main .reviews__wrapper .slider .review .user .user__review {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    font-size: 17px;
  }
  main .reviews__wrapper .slider .slick-dots {
    bottom: 9px;
    width: 100%;
  }
  footer .footer__info {
    flex-direction: column-reverse;
    margin: auto;
  }
  footer .footer__info .footer__link {
    text-align: center;
    margin-bottom: 15px;
  }
  footer .footer__info .ip__info {
    font-size: 15px;
  }
  footer .footer__info .developer {
    padding-top: 15px;
  }
}

@media screen and (max-width: 1320px) and (min-width: 1101px) {
  header {
    background-position: 57% 0;
  }
  .tree {
    display: none;
  }
  main .order__wrapper {
    background-position: 80% 0;
  }
  main .order__wrapper .order {
    width: 60%;
    border-radius: 20px;
  }
  main .reviews__wrapper {
    height: auto;
  }
  main .reviews__wrapper .slider {
    padding-bottom: 75px;
  }
  main .reviews__wrapper .slider .slick-prev, main .reviews__wrapper .slider .slick-next {
    top: 38%;
  }
  main .reviews__wrapper .slider .slick-dots {
    bottom: 40px;
  }
}

@media screen and (max-width: 1500px) and (min-width: 1321px) {
  header {
    background-position: 50% 0;
  }
  main .order__wrapper {
    background-position: 66% 0;
  }
  main .order__wrapper .tree {
    left: 0;
  }
}
