@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,800&display=swap&subset=cyrillic");

body {
    margin: 0;
    padding: 0;
    // min-width: 1400px;
  }

main{
  font-family: Tahoma;
  font-style: normal;
  section{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    h3{
      margin-top: 40px;
      display: block;
      text-transform: uppercase;
      font-weight: bold;
    }
    h4{
      display: block;
      color: green;
      margin-top: 40px;
      margin-bottom: 35px;
    }
    .items{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      .item{

        width: 340px;
        overflow: hidden;
        background-color: #FAFAFA;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 6px 4px 17px rgba(0, 0, 0, 0.32);
        margin-bottom: 35px;
        .item__name{
          font-weight: bold;
          margin-top: 15px;
          padding-right: 25px;
          padding-left: 25px;
          margin-bottom: 15px;
        }
        p{
          padding-right: 25px;
          padding-left: 25px;
        };
        .new__price {
          color: #1a62a6;
          font-family: Tahoma;
          font-style: normal;
          font-weight: bold;
          font-size: 33px;
          margin-top: 15px;
          margin-bottom: 0;
        }
        .btn{
          width: 70%;
          margin-top: 10px;
          margin-bottom: 30px;
        }
      }
    }
  }
}
  