@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap&subset=cyrillic');


body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

p,
a,
span,
h1,
h2 {
    margin: 0px;
    padding: 0px;
}

section {
    width: 90%;
    max-width: 1169px;
    margin: auto;
}

header {
    background: url('../img/Rectangle@1x.jpg') no-repeat;
    background-position: 50% 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    nav {
        background: rgba(0, 0, 0, 0.4);

        .navigation {
            display: flex;
            align-items: center;
        }

        .logo {
            margin: 14px 0 7px 0;
            color: #FFFFFF;

            &__first {
                font-size: 14px;
                line-height: 16px;
                font-weight: bold;
                text-transform: uppercase;
            }

            &__second {
                font-size: 13px;
                margin-top: 2px;
            }
        }

        .menu {
            margin-left: 130px;

            a {
                font-weight: bold;
                font-size: 14px;
                text-transform: uppercase;
                text-decoration: none;
                color: #FFFFFF;
                margin-right: 28px;
            }

            ;
        }

        .phone {
            margin-left: calc(76px - 28px);

            a {
                color: #FFFFFF;
                font-weight: bold;
            }

            &__tel {
                font-size: 15px;
                text-decoration: none;
                margin-right: 35px;
            }

            &__back {
                text-decoration-line: underline;
                font-size: 16px;
            }
        }
    }

    .header__content {
        text-align: center;
        color: #FFFFFF;
        margin-top: 110px;

        h1 {
            font-weight: bold;
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: 0.05em;
        }

        h2 {
            font-weight: bold;
            font-size: 48px;
            letter-spacing: 0.08em;
            line-height: 56px;
            margin: 18px 0px 17px 0px;
            text-transform: uppercase;
        }

        p {
            font-size: 16px;
            line-height: 19px;
        }

        button {
            background: none;
            border: 2px solid;
            text-transform: uppercase;
            color: #FFFFFF;
            font-weight: bold;
            font-size: 14px;
            padding: 13px 24px;
            margin-top: 59px;
            margin-bottom: 109px;
            cursor: pointer;
        }
    }
}

// END HEADER

// START MAIN

main {
    .adv {
        padding-bottom: 43px;
        display: flex;

        .advantages__title {
            font-weight: bold;
            font-size: 22px;
            line-height: 26px;
            letter-spacing: 0.05em;
            margin-top: 44px;
            margin-bottom: 26px;
        }

        .advantages {
            display: flex;
            width: 749px;
            margin-bottom: 20px;

            img {
                border: 1px solid #E2DEDE;
                padding: 11px 12px;
                border-radius: 50%;
                margin-right: 22px;
                margin-top: 5px;
            }

            ;

            &__txt {
                letter-spacing: 0.05em;

                .title {
                    font-weight: bold;
                    font-size: 20px;
                    margin-bottom: 13px;
                }

                span {
                    font-size: 16px;
                }
            }
        }

        &__form {
            width: 376px;
            display: flex;
            flex-direction: column;
            text-align: center;
            background: #000;
            background: #FFFFFF;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
            border-radius: 4px;
            margin-top: -62px;

            &__title {
                font-weight: bold;
                font-size: 20px;
                letter-spacing: 0.05em;
                margin: 40px 0 10px 0;
            }

            &__subt {
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.05em;
                margin-bottom: 29px;
            }

            input {
                width: 73%;
                margin: auto;
                margin-bottom: 26px;
                height: 40px;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.05em;
                padding-left: 13px;
                background: #F8F6F6;
                border: 1px solid #E2DEDE;
                border-radius: 2px;
                color: black;
            }

            input:hover {}

            button {
                width: 77%;
                height: 40px;
                background: #8C0014;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
                border-radius: 2px;
                border: none;
                margin: auto;
                margin-bottom: 49px;
                font-weight: bold;
                font-size: 13px;
                line-height: 15px;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: #FFFFFF;
            }
        }
    }

    .price {
        background: #F8F6F6;

        .price__title {
            font-weight: bold;
            font-size: 22px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            padding: 44px 0px 29px;
            text-align: center;
        }

        table {
            margin: auto;
            width: 86%;
            border-collapse: collapse;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 4px 4px 0px 0px;
            background: #fff;
            overflow: hidden;

            thead {
                background: #8C0014;
                font-weight: bold;
                font-size: 18px;
                line-height: 21px;
                letter-spacing: 0.05em;
                color: #FFFFFF;
                border-collapse: collapse;
            }

            th {
                text-align: left;
                padding: 20px 33px;
            }

            td {
                padding: 11px 33px;
                border: 1px solid #EAE7E7;
                font-size: 16px;
                letter-spacing: 0.05em;
            }

            tr:nth-child(2n) {
                background: #F8F6F6;
            }
        }

        .price__button {
            text-align: center;

            button {
                background: #8C0014;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
                border-radius: 2px;
                color: white;
                margin: 35px 0 45px;
                font-weight: bold;
                font-size: 13px;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                border: none;
                padding: 13px 79px;
                cursor: pointer;
            }
        }
    }

    .reviews {
        letter-spacing: 0.05em;
        background: url('../img/Rectangle\ 5@1x.jpg');
        background-size: cover;
        padding-bottom: 20px;
        text-align: center;
        padding-top: 69px;
        color: white;

        &__title {
            font-weight: bold;
            font-size: 22px;
            line-height: 26px;
            text-transform: uppercase;

        }

        .slider {
            width: 78%;
            margin: auto;
            position: relative;
            margin-top: 15px;

            .slides__review {
                padding: 8px 20px;
                position: relative;
                margin: 0 20px;
                font-size: 18px;
                line-height: 25px;
                letter-spacing: 0.05em;
                font-weight: normal;
            }

            .slides__review_auth {
                text-align: right;
                margin-top: 23px;
                margin-right: 5px;
                font-size: 20px;
                font-weight: bold;
            }

            ul {


                li {
                    display: inline;
                    margin-right: 11px;
                    font-size: 16px;
                }
            }

            .slick-active {
                font-weight: bold;
                font-size: 36px;
            }
        }

        .slides__review:before {
            content: "";
            background: url(../img/apostr.png);
            z-index: 999;
            width: 23px;
            height: 21px;
            position: absolute;
            left: 0px;
            top: 0px;
        }

        .slides__review::after {
            content: "";
            background: url(../img/apostr.png);
            box-sizing: border-box;
            width: 23px;
            height: 21px;
            position: absolute;
            right: 0px;
            bottom: 0px;
            transform: rotate(180deg);
        }
    }

    .brend {
        margin-top: 44px;

        &__title {
            font-weight: bold;
            font-size: 22px;
            line-height: 26px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            margin-bottom: 29px;
            margin-left: 35px;
        }

        img {
            width: 142px;
        }
    }

    .wrapper {
        background-color: #F8F6F6;
        letter-spacing: 0.05em;

        .block__title {
            font-weight: bold;
            font-size: 22px;
            text-transform: uppercase;
            text-align: center;
            padding-top: 50px;
            margin-bottom: 32px;
        }

        .question {
            width: 83%;
            margin: auto;
            background: #FFFFFF;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
            border-radius: 4px;

            &__item {
                border-bottom: 1px solid #E5E5E5;

                &__title {
                    display: flex;
                    align-items: center;

                    &__number {
                        font-weight: 900;
                        font-size: 42px;
                        line-height: 49px;
                        text-transform: uppercase;
                        color: #DEDDDD;
                        margin: 13px 30px 13px 53px;
                    }

                    &__title {
                        font-weight: bold;
                        font-size: 20px;
                        line-height: 23px;
                    }
                }

                .open {
                    transition: 0.3s;
                    color: #8C0014;
                }

                &__answ {
                    font-size: 16px;
                    margin: 0 56px 33px 129px;
                    display: none;
                }
            }
        }

        .question__button {
            text-align: center;

            button {
                font-size: 13px;
                text-align: center;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: #FFFFFF;
                background: #8C0014;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
                border-radius: 2px;
                border: none;
                font-weight: bold;
                padding: 13px 86px;
                margin: 45px 0 57px;
            }
        }
    }

    .back__call {
        letter-spacing: 0.05em;

        &__title {
            text-align: center;
            font-weight: bold;
            font-size: 22px;
            line-height: 26px;
            text-transform: uppercase;
            margin: 43px 0 29px;
        }

        &__input {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            input {
                width: 340px;
                background: #F8F6F6;
                border: 1px solid #E2DEDE;
                border-radius: 2px;
                padding: 13px 0 13px 16px;
                font-size: 14px;
                color: black;
                margin-right: 21px;
            }

            .description {
                width: 63%;
                margin-top: 26px;
            }

            button {
                background: #8C0014;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
                border-radius: 2px;
                font-weight: bold;
                font-size: 13px;
                border: none;
                color: white;
                text-transform: uppercase;
                padding: 14px 113px;
                text-align: right;
                margin-top: 26px;
                margin-right: 20px;
            }

        }

        .personal__data {
            margin: 18px 0 43px;
            text-align: center;

            span {
                font-size: 14px;
                line-height: 16px;
                color: #797979;
            }
        }

    }
}

footer {
    .blocks {
        display: flex;
        justify-content: space-between;

        .info__block {

            letter-spacing: 0.05em;

            &__title {
                font-weight: bold;
                font-size: 20px;
                color: #8C0014;
                margin: 36px 0 14px;
            }

            &__txt {
                margin-bottom: 29px;
            }

            a {
                text-decoration: none;
                color: black;
            }
        }
    }
    .footer__ps{
        background: #202020;
        font-size: 14px;
        section{
            line-height: 16px;
            letter-spacing: 0.05em;
            color: #797979;
            padding: 10px 0;
        }
    }
}