@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap&subset=cyrillic');


body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

p,
a,
span, h1, h2 {
    margin: 0px;
    padding: 0px;
}

section {
    width: 90%;
    max-width: 1169px;
    margin: auto;
}

header {
    background: url('../img/Rectangle@1x.jpg') no-repeat;
    background-position: 50% 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    nav {
        background: rgba(0, 0, 0, 0.4);

        .navigation {
            display: flex;
            align-items: center;
        }

        .logo {
            margin: 14px 0 7px 0;
            color: #FFFFFF;

            &__first {
                font-size: 14px;
                line-height: 16px;
                font-weight: bold;
                text-transform: uppercase;
            }

            &__second {
                font-size: 13px;
                margin-top: 2px;
            }
        }
        .menu{
            margin-left: 130px;
            a{
                font-weight: bold;
                font-size: 14px;
                text-transform: uppercase;
                text-decoration: none;
                color: #FFFFFF;
                margin-right: 28px;
            };
        }
        .phone{
            margin-left: calc(76px - 28px);
            a{
                color: #FFFFFF;
                font-weight: bold;
            }
            &__tel{
                font-size: 15px;
                text-decoration: none;
                margin-right: 35px;
            }
            &__back{
                text-decoration-line: underline;
                font-size: 16px;
            }
        }
    }
    .header__content{
        text-align: center;
        color: #FFFFFF;
        margin-top: 110px;
        h1{
            font-weight: bold;
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: 0.05em;
        }
        h2{
            font-weight: bold;
            font-size: 48px;
            letter-spacing: 0.08em;
            line-height: 56px;
            margin: 18px 0px 17px 0px;
            text-transform: uppercase;
        }
        p{
            font-size: 16px;
            line-height: 19px;
        }
        button{
            background: none;
            border: 2px solid;
            text-transform: uppercase;
            color: #FFFFFF;
            font-weight: bold;
            font-size: 14px;
            padding: 13px 24px;
            margin-top: 59px;
            margin-bottom: 109px;
            cursor: pointer;
        }
    }
}

// END HEADER

// START MAIN

main{
    .adv{
        padding-bottom: 43px;
        display: flex;
        .advantages__title{
            font-weight: bold;
            font-size: 22px;
            line-height: 26px;
            letter-spacing: 0.05em;
            margin-top: 44px;
            margin-bottom: 26px;
        }
        .advantages{
            display: flex;
            width: 749px;
            margin-bottom: 20px;
                img{
                    border: 1px solid #E2DEDE;
                    padding: 11px 12px;
                    border-radius: 50%;
                    margin-right: 22px;
                    margin-top: 5px;
                };
            &__txt{
                letter-spacing: 0.05em;
                .title{
                    font-weight: bold;
                    font-size: 20px;
                    margin-bottom: 13px;
                }
                span{
                    font-size: 16px;
                }
            }
        }

        &__form{
            width: 376px;
            display: flex;
            flex-direction: column;
            text-align: center;
            background: #000;
            background: #FFFFFF;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
            border-radius: 4px;
            margin-top: -62px;
            &__title{
                font-weight: bold;
                font-size: 20px;
                letter-spacing: 0.05em;
                margin: 40px 0 10px 0;
            }
            &__subt{
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.05em;
                margin-bottom: 29px;
            }
            input{
                width: 73%;
                margin: auto;
                margin-bottom: 26px;
                height: 40px;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.05em;
                padding-left: 13px;
                background: #F8F6F6;
                border: 1px solid #E2DEDE;
                border-radius: 2px;
                color: black;
            }
            input:hover{

            }
            button{
                width: 77%;
                height: 40px;
                background: #8C0014;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
                border-radius: 2px;
                border: none;
                margin: auto;
                margin-bottom: 49px;
                font-weight: bold;
                font-size: 13px;
                line-height: 15px;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: #FFFFFF;
            }
        }
    }
}