@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap&subset=cyrillic");
body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
}

p,
a,
span, h1, h2 {
  margin: 0px;
  padding: 0px;
}

section {
  width: 90%;
  max-width: 1169px;
  margin: auto;
}

header {
  background: url("../img/Rectangle@1x.jpg") no-repeat;
  background-position: 50% 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header nav {
  background: rgba(0, 0, 0, 0.4);
}

header nav .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .logo {
  margin: 14px 0 7px 0;
  color: #FFFFFF;
}

header nav .logo__first {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

header nav .logo__second {
  font-size: 13px;
  margin-top: 2px;
}

header nav .menu {
  margin-left: 130px;
}

header nav .menu a {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 28px;
}

header nav .phone {
  margin-left: calc(76px - 28px);
}

header nav .phone a {
  color: #FFFFFF;
  font-weight: bold;
}

header nav .phone__tel {
  font-size: 15px;
  text-decoration: none;
  margin-right: 35px;
}

header nav .phone__back {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  font-size: 16px;
}

header .header__content {
  text-align: center;
  color: #FFFFFF;
  margin-top: 110px;
}

header .header__content h1 {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

header .header__content h2 {
  font-weight: bold;
  font-size: 48px;
  letter-spacing: 0.08em;
  line-height: 56px;
  margin: 18px 0px 17px 0px;
  text-transform: uppercase;
}

header .header__content p {
  font-size: 16px;
  line-height: 19px;
}

header .header__content button {
  background: none;
  border: 2px solid;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  padding: 13px 24px;
  margin-top: 59px;
  margin-bottom: 109px;
  cursor: pointer;
}

main .adv {
  padding-bottom: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .adv .advantages__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.05em;
  margin-top: 44px;
  margin-bottom: 26px;
}

main .adv .advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 749px;
  margin-bottom: 20px;
}

main .adv .advantages img {
  border: 1px solid #E2DEDE;
  padding: 11px 12px;
  border-radius: 50%;
  margin-right: 22px;
  margin-top: 5px;
}

main .adv .advantages__txt {
  letter-spacing: 0.05em;
}

main .adv .advantages__txt .title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 13px;
}

main .adv .advantages__txt span {
  font-size: 16px;
}

main .adv__form {
  width: 376px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background: #000;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  margin-top: -62px;
}

main .adv__form__title {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.05em;
  margin: 40px 0 10px 0;
}

main .adv__form__subt {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  margin-bottom: 29px;
}

main .adv__form input {
  width: 73%;
  margin: auto;
  margin-bottom: 26px;
  height: 40px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  padding-left: 13px;
  background: #F8F6F6;
  border: 1px solid #E2DEDE;
  border-radius: 2px;
  color: black;
}

main .adv__form button {
  width: 77%;
  height: 40px;
  background: #8C0014;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  border: none;
  margin: auto;
  margin-bottom: 49px;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

main .price {
  background: #F8F6F6;
}

main .price .price__title {
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 44px 0px 29px;
  text-align: center;
}

main .price table {
  margin: auto;
  width: 86%;
  border-collapse: collapse;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px 4px 0px 0px;
  background: #fff;
  overflow: hidden;
}

main .price table thead {
  background: #8C0014;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  border-collapse: collapse;
}

main .price table th {
  text-align: left;
  padding: 20px 33px;
}

main .price table td {
  padding: 11px 33px;
  border: 1px solid #EAE7E7;
  font-size: 16px;
  letter-spacing: 0.05em;
}

main .price table tr:nth-child(2n) {
  background: #F8F6F6;
}

main .price .price__button {
  text-align: center;
}

main .price .price__button button {
  background: #8C0014;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  color: white;
  margin: 35px 0 45px;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: none;
  padding: 13px 79px;
  cursor: pointer;
}

main .reviews {
  letter-spacing: 0.05em;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.55)), to(rgba(0, 0, 0, 0.55))), url("../img/Rectangle 5@1x.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("../img/Rectangle 5@1x.jpg");
  text-align: center;
  padding-top: 69px;
  color: white;
}

main .reviews__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
}

main .reviews .slider {
  width: 78%;
  margin: auto;
  position: relative;
  margin-top: 15px;
}

main .reviews .slider .slides__review {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.05em;
  font-weight: normal;
}

main .reviews .slider .slides__review_auth {
  text-align: right;
  margin-top: 23px;
  margin-right: 5px;
  font-size: 20px;
  font-weight: bold;
}

main .reviews .slider ul {
  margin: 0 0 49px;
}

main .reviews .slider ul li {
  display: inline;
  margin-right: 11px;
  font-size: 16px;
}

main .reviews .slider .slick-active {
  font-weight: bold;
  font-size: 36px;
}

main .reviews .slider:before {
  content: "";
  background: url(../img/apostr.png);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 23px;
  height: 21px;
  position: absolute;
  left: -15px;
  top: -10px;
}

main .reviews .slider::after {
  content: "";
  background: url(../img/apostr.png);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 23px;
  height: 21px;
  position: absolute;
  right: -15px;
  bottom: -10px;
}
/*# sourceMappingURL=style.css.map */