@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap&subset=cyrillic");
body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
}

p,
a,
span,
h1,
h2 {
  margin: 0px;
  padding: 0px;
}

section {
  width: 95%;
  max-width: 1169px;
  margin: auto;
}

header {
  background: url("../img/Rectangle@1x.jpg") no-repeat;
  background-position: 50% 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header nav {
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

header nav .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .logo {
  margin: 14px 0 7px 0;
  color: #FFFFFF;
}

header nav .logo__first {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

header nav .logo__second {
  font-size: 13px;
  margin-top: 2px;
}

header nav .mobile__menu {
  display: none;
}

header nav .mobile__menu .ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header nav .mobile__menu .hamRotate.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header nav .mobile__menu .hamRotate180.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header nav .mobile__menu .line {
  fill: none;
  -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: white;
  stroke-width: 5.5;
  stroke-linecap: round;
}

header nav .mobile__menu .ham1 .top {
  stroke-dasharray: 40 139;
}

header nav .mobile__menu .ham1 .bottom {
  stroke-dasharray: 40 180;
}

header nav .mobile__menu .ham1.active .top {
  stroke-dashoffset: -98px;
}

header nav .mobile__menu .ham1.active .bottom {
  stroke-dashoffset: -138px;
}

header nav .menu {
  margin-left: 130px;
}

header nav .menu a {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 28px;
}

header nav .phone {
  margin-left: calc(76px - 28px);
}

header nav .phone a {
  color: #FFFFFF;
  font-weight: bold;
}

header nav .phone__tel {
  font-size: 15px;
  text-decoration: none;
  margin-right: 35px;
}

header nav .phone__back {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  font-size: 16px;
}

header .header__content {
  text-align: center;
  color: #FFFFFF;
  margin-top: 110px;
}

header .header__content h1 {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

header .header__content h2 {
  font-weight: bold;
  font-size: 48px;
  letter-spacing: 0.08em;
  line-height: 56px;
  margin: 18px 0px 17px 0px;
  text-transform: uppercase;
}

header .header__content p {
  font-size: 16px;
  line-height: 19px;
}

header .header__content button {
  background: none;
  border: 2px solid;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  padding: 13px 24px;
  margin-top: 59px;
  margin-bottom: 109px;
  cursor: pointer;
}

main .adv {
  padding-bottom: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .adv .advantages__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.05em;
  margin-top: 44px;
  margin-bottom: 26px;
}

main .adv .advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 749px;
  margin-bottom: 20px;
}

main .adv .advantages img {
  border: 1px solid #E2DEDE;
  padding: 11px 12px;
  border-radius: 50%;
  margin-right: 22px;
  margin-top: 5px;
}

main .adv .advantages__txt {
  letter-spacing: 0.05em;
}

main .adv .advantages__txt .title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 13px;
}

main .adv .advantages__txt span {
  font-size: 16px;
}

main .adv__form {
  width: 376px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background: #000;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  margin-top: -62px;
}

main .adv__form__title {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.05em;
  margin: 40px 0 10px 0;
}

main .adv__form__subt {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  margin-bottom: 29px;
}

main .adv__form input {
  width: 73%;
  margin: auto;
  margin-bottom: 26px;
  height: 40px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  padding-left: 13px;
  background: #F8F6F6;
  border: 1px solid #E2DEDE;
  border-radius: 2px;
  color: black;
}

main .adv__form button {
  width: 77%;
  height: 40px;
  background: #8C0014;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  border: none;
  margin: auto;
  margin-bottom: 49px;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

main .price {
  background: #F8F6F6;
}

main .price .price__title {
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 44px 0px 29px;
  text-align: center;
}

main .price table {
  margin: auto;
  width: 86%;
  border-collapse: collapse;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px 4px 0px 0px;
  background: #fff;
  overflow: hidden;
}

main .price table thead {
  background: #8C0014;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  border-collapse: collapse;
}

main .price table th {
  text-align: left;
  padding: 20px 33px;
}

main .price table td {
  padding: 11px 33px;
  border: 1px solid #EAE7E7;
  font-size: 16px;
  letter-spacing: 0.05em;
}

main .price table tr:nth-child(2n) {
  background: #F8F6F6;
}

main .price .price__button {
  text-align: center;
}

main .price .price__button button {
  background: #8C0014;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  color: white;
  margin: 35px 0 45px;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: none;
  padding: 13px 79px;
  cursor: pointer;
}

main .reviews {
  letter-spacing: 0.05em;
  background: url("../img/Rectangle 5@1x.jpg");
  background-size: cover;
  padding-bottom: 20px;
  text-align: center;
  padding-top: 69px;
  color: white;
}

main .reviews__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
}

main .reviews .slider {
  width: 78%;
  margin: auto;
  position: relative;
  margin-top: 15px;
}

main .reviews .slider .slides__review {
  padding: 8px 20px;
  position: relative;
  margin: 0 20px;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.05em;
  font-weight: normal;
}

main .reviews .slider .slides__review_auth {
  text-align: right;
  margin-top: 23px;
  margin-right: 5px;
  font-size: 20px;
  font-weight: bold;
}

main .reviews .slider ul li {
  display: inline;
  margin-right: 11px;
  font-size: 16px;
}

main .reviews .slider .slick-active {
  font-weight: bold;
  font-size: 36px;
}

main .reviews .slides__review:before {
  content: "";
  background: url(../img/apostr.png);
  z-index: 999;
  width: 23px;
  height: 21px;
  position: absolute;
  left: 0px;
  top: 0px;
}

main .reviews .slides__review::after {
  content: "";
  background: url(../img/apostr.png);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 23px;
  height: 21px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

main .brend {
  margin-top: 44px;
}

main .brend__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 29px;
  margin-left: 35px;
}

main .brend img {
  width: 142px;
}

main .wrapper {
  background-color: #F8F6F6;
  letter-spacing: 0.05em;
}

main .wrapper .block__title {
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 32px;
}

main .wrapper .question {
  width: 83%;
  margin: auto;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

main .wrapper .question__item {
  border-bottom: 1px solid #E5E5E5;
}

main .wrapper .question__item__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .wrapper .question__item__title__number {
  font-weight: 900;
  font-size: 42px;
  line-height: 49px;
  text-transform: uppercase;
  color: #DEDDDD;
  margin: 13px 30px 13px 53px;
}

main .wrapper .question__item__title__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}

main .wrapper .question__item .open {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #8C0014;
}

main .wrapper .question__item__answ {
  font-size: 16px;
  margin: 0 56px 33px 129px;
  display: none;
}

main .wrapper .question__button {
  text-align: center;
}

main .wrapper .question__button button {
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #8C0014;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  border: none;
  font-weight: bold;
  padding: 13px 86px;
  margin: 45px 0 57px;
}

main .back__call {
  letter-spacing: 0.05em;
}

main .back__call__title {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 43px 0 29px;
}

main .back__call__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .back__call__input input {
  width: 340px;
  background: #F8F6F6;
  border: 1px solid #E2DEDE;
  border-radius: 2px;
  padding: 13px 0 13px 16px;
  font-size: 14px;
  color: black;
  margin-right: 21px;
}

main .back__call__input .description {
  width: 63%;
  margin-top: 26px;
}

main .back__call__input button {
  background: #8C0014;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  font-weight: bold;
  font-size: 13px;
  border: none;
  color: white;
  text-transform: uppercase;
  padding: 14px 113px;
  text-align: right;
  margin-top: 26px;
  margin-right: 20px;
}

main .back__call .personal__data {
  margin: 18px 0 43px;
  text-align: center;
}

main .back__call .personal__data span {
  font-size: 14px;
  line-height: 16px;
  color: #797979;
}

footer .blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .blocks .info__block {
  letter-spacing: 0.05em;
}

footer .blocks .info__block__title {
  font-weight: bold;
  font-size: 20px;
  color: #8C0014;
  margin: 36px 0 14px;
}

footer .blocks .info__block__txt {
  margin-bottom: 29px;
}

footer .blocks .info__block a {
  text-decoration: none;
  color: black;
}

footer .footer__ps {
  background: #202020;
  font-size: 14px;
}

footer .footer__ps section {
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #797979;
  padding: 10px 0;
}

@media screen and (max-width: 1305px) and (min-width: 320px) {
  header nav .menu {
    margin-left: 3%;
  }
  main .wrapper .question {
    width: 90%;
  }
}

@media screen and (max-width: 1305px) and (min-width: 320px) and (max-width: 1130px) and (min-width: 320px) {
  header nav .phone {
    display: none;
  }
}

@media screen and (max-width: 1305px) and (min-width: 320px) and (max-width: 1130px) and (min-width: 320px) and (max-width: 800px) and (min-width: 320px) {
  header {
    background-size: cover;
  }
  header nav .navigation {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header nav .navigation .mobile__menu {
    display: block;
  }
  header nav .navigation .menu {
    display: none;
  }
  header nav .mobile__items {
    display: none;
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
  }
  header nav .mobile__items .mobile__items__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  header nav .mobile__items .mobile__items__menu a {
    font-weight: bold;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin-bottom: 12px;
    font-size: 15px;
  }
  header .open {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    background: rgba(0, 0, 0, 0.8);
  }
}
/*# sourceMappingURL=style.css.map */